@config "../tailwind.config.ts";
@import "tailwindcss";

@font-face {
  font-family: "Fortnite";
  src: url("/Fortnite.ttf");
}

@layer base {
  :root {
    --beige: #ffead2;
    --beige-2: #ffe4c9;
    --beige-3: #f3ebdf;
    --blue-1: #dbdfea;
    --blue-2: #acb1d6;
    --blue-3: #8294c4;
    --blue-4: #265073;
    --grey: #c7c8cc;
  }

  html {
    font-family: "Fortnite", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    background: url("https://cdnb.artstation.com/p/assets/images/images/011/847/671/large/paul-mader-winter.jpg?1531749995")
      no-repeat center center;
    background-size: cover;
  }

  body {
    min-height: 100vh;
    cursor: url("/cursor.cur"), auto;
  }

  button,
  img {
    cursor: url("/cursor.cur"), auto;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
